:host {
    padding-bottom: 30px;
    display: block;



    .glide__slide img {
        width: 100%;
        height: auto;
        max-height: 100px;
        object-fit: contain;
    }

    .glide__arrows,
    .glide__bullets {
        text-align: center;
        margin-top: 10px;
        bottom: -20px;
    }

    .glide__bullet {
        background-color: #acacac;
    }

    .glide__bullet--active {
        background-color: black;
    }

    .glide__slides {
        align-items: center;
    }
}