<div
  class="glide"
  role="region"
  [attr.aria-label]="'aria.slider.title' | i18n | async"
>
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      @for(image of images; track image.url; let i = $index) {
      <li class="glide__slide">
        <img
          [src]="image.url"
          [alt]="
            image.altText ||
            ('aria.slider.image' | i18n | async) + ' ' + (i + 1)
          "
          [attr.data-mime-type]="image.mimeType"
        />
      </li>
      }
    </ul>
  </div>

  <div class="glide__bullets" data-glide-el="controls[nav]">
    @for(image of images; track image.url; let i = $index) {
    <button
      class="glide__bullet"
      [attr.data-glide-dir]="'=' + i"
      [attr.aria-label]="('aria.slider.bullet' | i18n | async) + ' ' + (i + 1)"
    ></button>
    }
  </div>
</div>
