@import '../../../../scss/import';

:host {
    display:block;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include mobile {
        grid-template-columns: 0 1fr;
    }

    & .backdrop {
        background-color: rgba(22,22,22,.3);
    }

    & .sidebar {
        background-color: $color-overlays;
    }
}