<header>
  <div class="logo">
    <app-logo [routerLink]="['/', lang]" (click)="logoClicked()"></app-logo>
  </div>

  <div class="frame">
    <svg
      version="1.1"
      id="topRight"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 12 12"
      style="enable-background: new 0 0 12 12"
      xml:space="preserve"
    >
      <polygon points="11,11 7,11 7,5 1,5 1,1 11,1 11,1 " />
    </svg>
    <svg
      version="1.1"
      id="bottomLeft"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 12 12"
      style="enable-background: new 0 0 12 12"
      xml:space="preserve"
    >
      <polygon points="1,1 5,1 5,7 11,7 11,11 1,11 1,11 " />
    </svg>

    <app-menu></app-menu>
  </div>

  <app-language-picker></app-language-picker>
</header>
