@if(event) {
<div class="event">
  <div class="image">
    <img [src]="event.data.desktopImage?.url" data-target="d" />
    <img [src]="event.data.image?.url" data-target="m" />
    <span
      >{{ "general.published" | i18n | async }}:
      {{
        localizationService.getFormattedDate(event.data.publishedAt) | async
      }}</span
    >
  </div>
  <div class="text">
    <h1 [appSafeHtml]="event.data.title"></h1>
    <h2 [appSafeHtml]="event.data.subtitle"></h2>
    <div [appSafeHtml]="event.data.text.html"></div>
  </div>
  <div class="info">
    <div class="info-wrapper">
      <app-accordion
        title="Venue"
        id="venue"
        [isOpen]="openedAccordion === 'venue'"
        (opened)="setOpenedAccordion($event)"
      >
        <div [appSafeHtml]="getEvent().eventLocation.informations.html"></div>

        @if(isBrowser()) {
        <app-map
          [lat]="getEvent().eventLocation.geoLocation.latitude"
          [lon]="getEvent().eventLocation.geoLocation.longitude"
        ></app-map>
        }
      </app-accordion>
      @for(addit of getEvent().additionalInformation; track
      getEvent().additionalInformation) {
      <app-accordion
        [title]="addit.title"
        [id]="addit.id"
        (opened)="setOpenedAccordion($event)"
        [isOpen]="openedAccordion === addit.id"
      >
        @if(isImageCarousel(addit); as images) {
        <app-image-slider [images]="images.images"></app-image-slider>
        } @if(isTextAccordion(addit); as text) {
        <div class="hygraphHTML" [appSafeHtml]="text.text.html"></div>
        }
      </app-accordion>
      }
    </div>
  </div>
</div>
}
