@if(training) {
<div class="training">
  <div class="image">
    <img [src]="training.data.desktopImage?.url" data-target="d" />
    <img [src]="training.data.image?.url" data-target="m" />
    <span
      >{{ "general.published" | i18n | async }}:
      {{
        localizationService.getFormattedDate(training.data.publishedAt) | async
      }}</span
    >
  </div>
  <div class="text">
    <h1 [appSafeHtml]="training.data.title"></h1>
    <h2 [appSafeHtml]="training.data.subtitle"></h2>
    <div [appSafeHtml]="training.data.text.html"></div>
  </div>
  <div class="info">
    <div class="info-wrapper">
      <app-accordion
        [title]="'general.contact' | i18n | async"
        id="contact"
        [isOpen]="openedAccordion === 'venue'"
        (opened)="setOpenedAccordion($event)"
      >
        @if(isBrowser()) {
        <app-contact-form [subject]="training.data.title"></app-contact-form>
        }
      </app-accordion>
      @for(addit of getTraining().additionalInformation; track
      getTraining().additionalInformation) {
      <app-accordion
        [title]="addit.title"
        [id]="addit.id"
        (opened)="setOpenedAccordion($event)"
        [isOpen]="openedAccordion === addit.id"
      >
        @if(isImageCarousel(addit); as images) {
        <app-image-slider [images]="images.images"></app-image-slider>
        } @if(isTextAccordion(addit); as text) {
        <div class="hygraphHTML" [appSafeHtml]="text.text.html"></div>
        }
      </app-accordion>
      }
    </div>
  </div>
</div>
}
