@if(training) {
<div class="training">
  <div class="image">
    <img
      [src]="training.data.desktopImage?.url"
      data-target="d"
      [alt]="training.data.desktopImage?.alt || ''"
      [title]="training.data.desktopImage?.title || ''"
    />
    <img
      [src]="training.data.image?.url"
      data-target="m"
      [alt]="training.data.image?.alt || ''"
      [title]="training.data.image?.title || ''"
    />
    <span>
      {{ "general.published" | i18n | async }}:
      {{
        localizationService.getFormattedDate(training.data.publishedAt) | async
      }}
    </span>
  </div>
  <div class="text">
    <h1 [appSafeHtml]="training.data.title"></h1>
    <h2 [appSafeHtml]="training.data.subtitle"></h2>
    <div [appSafeHtml]="training.data.text.html"></div>
  </div>
  <div class="info">
    <div class="info-wrapper">
      <app-accordion
        [title]="'general.contact' | i18n | async"
        id="contact"
        [isOpen]="openedAccordion === 'venue'"
        (opened)="setOpenedAccordion($event)"
      >
        @if(isBrowser()) {
        <app-contact-form [subject]="training.data.title"></app-contact-form>
        }
      </app-accordion>
    </div>
  </div>
</div>

<!-- JSON-LD Script -->
<script type="application/ld+json">
  {{
    {
      "@context": "https://schema.org",
      "@type": "Course",
      "name": training.data.title,
      "description": training.data.subtitle,
      "provider": schemaOrg
      },
      "courseMode": "Online/In-Person",
      "educationalCredentialAwarded": training.data.certification || "Participation Certificate",
      "hasCourseInstance": {
        "@type": "CourseInstance",
        "name": training.data.title,
        "startDate": training.data.startDate,
        "endDate": training.data.endDate,
        "location": {
          "@type": "Place",
          "name": getTraining().eventLocation.name,
          "address": getTraining().eventLocation.informations.html,
          "geo": {
            "@type": "GeoCoordinates",
            "latitude": getTraining().eventLocation.geoLocation.latitude,
            "longitude": getTraining().eventLocation.geoLocation.longitude
          }
        },
        "organizer": {
          "@type": "Organization",
          "name": "Your Organization Name",
          "url": "https://your-organization-website.com"
        }
      }
    } | json
  }}
</script>
}
