@if( post) {
<div class="post">
  <div class="image">
    <picture>
      <source
        media="(min-width: 769px)"
        [srcset]="post.data.desktopImage.useImageUrl"
        [title]="post.data.desktopImage.title"
      />
      <source
        media="(max-width: 768px)"
        [srcset]="post.data.image.useImageUrl"
        [title]="post.data.image.title"
      />
      <img
        [src]="post.data.desktopImage.useImageUrl"
        [alt]="post.data.desktopImage.alt || ('aria.post.image' | i18n | async)"
        [title]="post.data.desktopImage.title"
      />
    </picture>
    @if(post.data.caption) {
    <div class="caption-container">
      <button [attr.aria-label]="'aria.post.caption' | i18n | async">
        <div class="caption" [innerHTML]="captionTransformed"></div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11 11V17H13V11H11ZM11 7V9H13V7H11Z"
          />
        </svg>
      </button>
    </div>

    }
  </div>
  <div class="text">
    <span
      class="date"
      [title]="
        ('general.published' | i18n | async) +
        ': ' +
        (localizationService.getFormattedDate(post.data.publishedAt) | async)
      "
    >
      {{
        localizationService.getFormattedDate(post.data.publishedAt) | async
      }}</span
    >
    <h1>{{ post.data.title }}</h1>
    <h2>{{ post.data.subtitle }}</h2>
    <div [innerHTML]="transformedHtml" class="content"></div>
  </div>
  <div class="info"></div>
</div>
}
<script type="application/ld+json">
  {{
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": post.data.title,
      "alternativeHeadline": post.data.subtitle,
      "image": [
        post.data.desktopImage?.url,
        post.data.image?.url
      ],
      "datePublished": post.data.publishedAt,
      "author": {
        "@type": "Person",
        "name": "XR Thinktank"
      },
      "publisher": schemaOrg,
      "articleBody": transformedHtml,
      "url": window.location.href
    } | json
  }}
</script>
