@import '../../../scss/mixins/viewport.scss';

:host {
    & .post {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        @include mobile {
            grid-template-columns: 1fr;
        }

        & .image {
            img {
                width: 100%;

                @include mobile {
                    max-height: 500px;
                    object-fit: cover;
                    object-position: center center;
                }
            }
        }
    }


}