@if( post) {
<div class="post">
  <div class="image">
    <img [src]="post.data.desktopImage?.url" data-target="d" />
    <img [src]="post.data.image?.url" data-target="m" />
    <span
      >{{ "general.published" | i18n | async }}:
      {{
        localizationService.getFormattedDate(post.data.publishedAt) | async
      }}</span
    >
  </div>
  <div class="text">
    <h1 [appSafeHtml]="post.data.title"></h1>
    <h2 [appSafeHtml]="post.data.subtitle"></h2>
    <div [appSafeHtml]="post.data.text.html"></div>
  </div>
  <div class="info"></div>
</div>
}
