@if(page) {
<div class="page">
  @if(page.desktopImage?.url) {
  <div class="image">
    <picture>
      <source
        media="(min-width: 769px)"
        [srcset]="page.desktopImage?.useImageUrl"
      />
      <source media="(max-width: 768px)" [srcset]="page.image?.useImageUrl" />
      <img
        [src]="page.desktopImage?.useImageUrl"
        [alt]="page.desktopImage?.alt || ('aria.post.image' | i18n | async)"
      />
    </picture>
  </div>
  }
  <div class="text">
    <h1>{{ page.title }}</h1>
    @for(content of page.content; track content.id) {
    @if(isContentComponent(content); as text) {
    <div [innerHTML]="sanitize(text.content.html)" class="content"></div>
    <div [appSafeHtml]="text.content.html"></div>
    } @if(isImageCarousel(content); as carousel) { } @if(isContactForm(content);
    as form) {
    <app-contact-form></app-contact-form>
    } }
  </div>
</div>
}
