<div class="wrapper">
  <dialog id="cookie-banner" open>
    <app-language-picker></app-language-picker>
    <article>
      <header>
        <h2>{{ "general.cookie.title" | i18n | async }}</h2>
      </header>
      <p>
        {{ "general.cookie.text" | i18n | async }}
      </p>
      <footer>
        <button class="reject" (click)="rejectCookie()">
          {{ "general.decline" | i18n | async }}
        </button>
        <app-frame appearance="button">
          <button class="accept" (click)="acceptCookie()">
            {{ "general.accept" | i18n | async }}
          </button>
        </app-frame>
      </footer>
    </article>
  </dialog>
</div>
