<dialog id="cookie-banner" open>
  <article>
    <header>
      <h2>Google Analytics Cookie</h2>
    </header>
    <p>
      Wir verwenden Google Analytics, um besser zu verstehen, wie unsere Website
      genutzt wird. Möchten Sie der Nutzung dieses Cookies zustimmen?
    </p>
    <footer>
      <button class="reject" (click)="rejectCookie()">Ablehnen</button>
      <app-frame appearance="button">
        <button class="accept" (click)="acceptCookie()">Zustimmen</button>
      </app-frame>
    </footer>
  </article>
</dialog>
