@import '../scss/import';

:host {
    main {
        max-width: 1900px;
        width:95%;
        display:block;
        margin: 0 auto;
        margin-top: 120px;
        padding-bottom: 20px;


        @include mobile {
            margin-top: 100px;
        }
    }
}