@import '../../../scss/mixins/viewport.scss';

:host {
    & .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;

        @include desktop {
            grid-template-columns: 1fr 1fr;
        }

        & .item {
            display:grid;
            grid-template-columns: 1fr 1fr;
            background-color: white;

            @media (max-width: 767px) {
                grid-template-columns: 1fr;
              }

            & .text {
                padding: 2rem;
            }
        }
    }
}