@import '../../../../scss/import';

:host {

    & .desktop-overlay {
        display: none;
    }

    @include mobile {
        & nav {
            & .icon {
                .menu {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    padding: 0;
                }
    
                .line {
                    fill: none;
                    stroke: black;
                    stroke-width: 6;
                    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
                }
    
                .line1 {
                    stroke-dasharray: 60 207;
                    stroke-width: 6;
                }
    
                .line2 {
                    stroke-dasharray: 60 60;
                    stroke-width: 6;
                }
    
                .line3 {
                    stroke-dasharray: 60 207;
                    stroke-width: 6;
                }
    
    
                & svg {
                    width: 32px;
                    height: 32px;
                }
    
                
            }
    
            & .overlay {
                position: fixed;
                top:-100vh;
                z-index:-1;
                left:0;
                height: 100dvh;
                width:100%;
                background-color: $color-overlays;
                transition: top 0.3s ease;
                padding: 10vh 5%;
                display:flex;
                flex-direction: column;
    
            }
    
            & ul {
                list-style: none;
                padding: 0;
                margin-top: 2rem;
    
                & li {
    
                    background-color: white;
                    margin-top: .5rem;
                    padding:10px;
    
                    & a {
                        color: black;
                        text-decoration: none;
                        font-family: 'D-Din Bold';
                    }
    
                    & svg {
                        width: 32px;
                        display: none;
                    }
    
                    &.searchicon {
                        display:none;
                    }
                }
            }
    
            &.opened {
                & .overlay {
                    top:0;

    
                }
    
                & .icon {
                    & .line1 {
                        stroke-dasharray: 90 207;
                        stroke-dashoffset: -134;
                        stroke-width: 6;
                    }
    
                    & .line2 {
                        stroke-dasharray: 1 60;
                        stroke-dashoffset: -30;
                        stroke-width: 6;
                    }
    
                    & .line3 {
                        stroke-dasharray: 90 207;
                        stroke-dashoffset: -134;
                        stroke-width: 6;
                    }
                }
            }
        }

        app-language-picker {
            background-color: white;
            padding:10px;
            align-self: end;
        }
    }



    @include desktop {
        & .icon {
            display: none;
        }

        & .desktop-overlay {
            position: fixed;
            display: flex;
            top:-100vh;
            z-index:-1;
            left:0;
            height: 100dvh;
            width:100%;
            background-color: $color-overlays;
            transition: top 0.3s ease;
            align-items: flex-start;
            justify-content: flex-end;
            &.active {
                top: 0;
            }

            & button {
                background-color: transparent;
                border:none;
                font-weight: bold;
                font-size: 2rem;
                cursor: pointer;
            }
        }

        & nav {
            background-color: white;
            padding: 10px 20px;

            & ul {
                position: absolute;
                top: -20px;
                right: -19px;
                list-style: none;
                padding: 0;
                display: flex;
                gap: 2rem;
                margin:0;
                backface-visibility: hidden;
                transition: transform .3s ease-out;
                transform: rotateX(360deg) perspective(500px);
                width: 55dvw;
                height:43px;
                background: white;
                justify-content: space-evenly;

                & li {
                    display: flex;
                    align-items: center;
                    font-size:1.6rem;

                    & a {
                        color: black;
                        text-decoration: none;
                        font-family: 'D-Din Bold';
                    }

                    & svg {
                        width: 32px;
                        display: block;
                    }
                }
            }

            & .search {
                position: absolute;
                top:-20px;;
                right:-19px;
                backface-visibility: hidden;
                transition: transform .3s ease-out;
                transform: rotateX(180deg) perspective(500px);

                & app-search {
                    width: 55dvw;
                    display: block;
                }
            }

            & .overlay {
                position: relative;
                transform-style: preserve-3d;

                &.active {

                    & .search {
                        transform: rotateX(360deg) perspective(500px);
                    }
    
                    & ul {
    
                        transform: rotateX(180deg) perspective(500px);
                        
                    }
                }
            }



    
        }

        app-language-picker {
            display:none;
        }
    }

}