<nav
  [class.opened]="opened"
  [attr.aria-label]="'aria.menu.title' | i18n | async"
>
  <div class="icon">
    <button
      class="menu"
      aria-expanded="false"
      (click)="toggleOverlay()"
      [attr.aria-label]="'aria.menu.toggle' | i18n | async"
    >
      <svg
        [class.active]="opened"
        version="1.1"
        id="hamburger"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="30px"
        height="30px"
        viewBox="0 0 30 30"
        style="enable-background: new 0 0 30 30"
        xml:space="preserve"
        class=""
        aria-hidden="true"
      >
        <polyline
          id="unten"
          class="unten"
          points="25.1,21 4.5,21 4.5,4.6 22,22 "
        ></polyline>
        <line
          id="mitteLinks"
          class="mitteLinks"
          x1="5"
          y1="15"
          x2="15"
          y2="15"
        ></line>
        <line
          id="mitteRechts"
          class="mitteRechts"
          x1="15.1"
          y1="15"
          x2="25.1"
          y2="15"
        ></line>
        <polyline
          id="oben"
          class="oben"
          points="8,22 25.5,4.6 26.5,9.1 5,9.1 "
        ></polyline>
      </svg>
    </button>
  </div>
  <div class="desktop-overlay" [class.active]="opened"></div>
  <div class="overlay" [class.active]="opened">
    <div class="search">
      <app-search (clicked)="toggleOverlay()"></app-search>
    </div>
    <ul>
      <li>
        <a
          (click)="opened = false"
          [routerLink]="['/', lang, 'news']"
          routerLinkActive="router-link-active"
          [attr.aria-label]="'aria.menu.link.news' | i18n | async"
          >{{ "navigation.blog" | i18n | async }}</a
        >
      </li>
      <!-- 
            <li>
        <a
          (click)="opened = false"
          [routerLink]="['/', lang, 'trainings']"
          routerLinkActive="router-link-active"
          >{{ "navigation.training" | i18n | async }}</a
        >
      </li>
      -->

      <li>
        <a
          (click)="opened = false"
          [routerLink]="['/', lang, 'events']"
          routerLinkActive="router-link-active"
          [attr.aria-label]="'aria.menu.link.events' | i18n | async"
          >{{ "navigation.events" | i18n | async }}</a
        >
      </li>
      <li>
        <a
          (click)="opened = false"
          [routerLink]="['/', lang, 'about']"
          routerLinkActive="router-link-active"
          [attr.aria-label]="'aria.menu.link.about' | i18n | async"
          >{{ "navigation.about" | i18n | async }}</a
        >
      </li>
      <li>
        <a
          (click)="opened = false"
          [routerLink]="['/', lang, 'contact']"
          routerLinkActive="router-link-active"
          [attr.aria-label]="'aria.menu.link.contact' | i18n | async"
          >{{ "navigation.contact" | i18n | async }}</a
        >
      </li>
      <li>
        <a
          (click)="opened = false"
          [routerLink]="['/', lang, 'imprint']"
          routerLinkActive="router-link-active"
          [attr.aria-label]="'aria.menu.link.imprint' | i18n | async"
          >{{ "navigation.imprint" | i18n | async }}</a
        >
      </li>
      <li class="searchicon" (click)="toggleOverlay()">
        <svg
          [class.active]="opened"
          version="1.1"
          id="searchicon"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="30px"
          height="30px"
          viewBox="0 0 30 30"
          style="enable-background: new 0 0 30 30"
          xml:space="preserve"
          aria-hidden="true"
        >
          <line
            id="lupengriff"
            class="lupengriff"
            x1="28.5"
            y1="28.5"
            x2="15"
            y2="15"
          ></line>
          <line id="xtop" class="xtop" x1="15" y1="15" x2="9.8" y2="9.8"></line>
          <path
            id="lupenglas"
            class="lupenglas"
            d="M20.4,9.6c-1.1-3.5-4.4-6.1-8.3-6.1c-4.8,0-8.6,3.9-8.6,8.6s3.9,8.6,8.6,8.6s8.6-3.9,8.6-8.6
                C20.8,11.3,20.6,10.4,20.4,9.6L9.8,20.2"
          ></path>
        </svg>
      </li>
    </ul>
    <app-language-picker (changed)="opened = false"></app-language-picker>
  </div>
</nav>
