:host {
  display: block;
  padding: 10px 0;

  .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3px;

    & li {
      max-width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      & a {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: "D-Din Bold";
        padding: 0;
        text-decoration: none;
        color: black;
      }

      & span {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: "D-Din Bold";
      }
    }
  }
}
