<div class="searchbar">
  <input type="search" placeholder="Suche..." [formControl]="searchControl" />
  <button class="searchBtn" (click)="clicked.emit()"></button>
</div>
<div class="option">
  <label for="searchoption_all">
    <input
      type="radio"
      value="all"
      id="searchoption_all"
      [formControl]="optionControl"
    />
    <span>Fulltext</span>
  </label>
  <label for="searchoption_blog">
    <input
      type="radio"
      value="blog"
      id="searchoption_blog"
      [formControl]="optionControl"
    />
    <span>News</span>
  </label>
  <label for="searchoption_train">
    <input
      type="radio"
      value="train"
      id="searchoption_train"
      [formControl]="optionControl"
    />
    <span>Training</span>
  </label>
  <label for="searchoption_events">
    <input
      type="radio"
      value="events"
      id="searchoption_events"
      [formControl]="optionControl"
    />
    <span>Events</span>
  </label>
</div>
<div class="results">
  @for(result of results$ | async; track result.data.url) {
  <div class="item" (click)="navigate(result)">
    <div class="img-container">
      <img [src]="result.data.image.url" />
    </div>
    <div class="text">
      <span>
        <strong>{{ result.data.title }}</strong> {{ result.data.excerpt.text }}
      </span>
    </div>
  </div>
  } @if((results$ | async); as results) { @if(results.length < 1) {
  <div class="item">
    <div class="text">
      <span>{{ "search.no-results" | i18n | async }}</span>
    </div>
  </div>
  } }
</div>
